@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1+Code&family=Poppins:wght@600;700&family=Roboto+Mono:ital@0;1&display=swap');

body {
    background-color: #f8f9fa;
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
}

main {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

.about {
    margin-left: 50px;
    align-content: center;
}

#icon {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 12px;
    box-sizing: border-box;
    object-fit: cover;
    background-image: radial-gradient(
        circle at center,
        rgba(108, 117, 125, 0.3) 0%,
        rgba(108, 117, 125, 0)70%
    );
}

.name {
    font-family: 'Poppins';
    font-weight: 600;
}

.details {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Mono', 'M PLUS 1 Code';
    color: #6c757d;
    gap: 10px;
}

.details-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.link-container {
    display: flex;
    flex-wrap: wrap;
    align-self: flex-start;
    margin-left: 200px;
    margin-top: 100px;
    gap: 30px;
}

.link-card-item {
    background-color: #ffffff;
    height: auto;
    width: 260px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    gap: 15px;
    font-family: 'Poppins', 'M PLUS 1 Code';
    color: #6c757d;
    text-decoration: none;
    border: solid 1px rgba(0, 0, 0, 0.08);
    transition: all 0.2s ease;
}

.link-card-item svg {
    width: 28px;
    height: 28px;
    fill: currentColor;
    transition: fill 0.2s ease;
}

.link-card-item:hover {
    transform: translateY(-3px);
}

.link-card-item[href="https://github.com/kosa-me"]:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(24, 23, 23, 0.4);
}

.link-card-item[href="https://github.com/kosa-me"]:hover svg{
    fill: #181717;
}

.link-card-item[href="https://github.com/kosa-me"]:hover .service-name{
    color: #181717;
}

.link-card-item[href="https://x.com"]:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.3);
    border: solid 1px rgba(0, 0, 0, 0.4);
}

.link-card-item[href="https://x.com"]:hover svg {
    fill: #000;
}

.link-card-item[href="https://x.com"]:hover .service-name {
    color: #000;
}

.link-card-item[href="https://discord.com"]:hover {
    box-shadow: 0 6px 16px rgba(88, 101, 242, 0.3);
    border: solid 1px rgba(88, 101, 242, 0.4);
}

.link-card-item[href="https://discord.com"]:hover svg {
    fill: #5865F2;
}

.link-card-item[href="https://discord.com"]:hover .service-name {
    color: #5865F2;
}

.link-card-item[href="https://mrsgreenapple.com"]:hover {
    box-shadow: 0 6px 16px rgba(0, 98, 65, 0.3);
    border: solid 1px rgba(0, 98, 65, 0.4);
}

.link-card-item[href="https://mrsgreenapple.com"]:hover svg {
    fill: #006241;
}

.link-card-item[href="https://mrsgreenapple.com"]:hover .service-name {
    color: #006241;
}

.link-text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.username {
    font-size: 0.9em;
    color: #adb5bd;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    color: #6c757d;
    font-family: 'Roboto Mono', 'M PLUS 1 Code';
}

@media (max-width: 800px) {
    body {
        -webkit-tap-highlight-color: transparent;
    }

    main {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
    }

    .about {
        align-self: center;
        margin-left: 0;
        margin-top: 0;
    }

    .link-container {
        flex-direction: column;
        gap: 20px;
        align-self: center;
        margin-left: 0;
        margin-top: 40px;
    }

    .link-card-item {
        width: 80vw;
        max-width: 350px;
    }
}